<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--主要步骤：-->
    <!--    1.配置日志输出格式-->
    <!--    2.配置输出地-->
    <!--    3.配置日志记录器-->

    <Properties>
        <!--配置日志格式
        name：为这个输出格式取个名字；value：输出的格式控制
        后期调用：${outputPattern}
        日志输出格式：
            %-5level：日志级别
            %d{yyyy-MM-dd HH:mm:ss.SSS}：日期格式
            %c：类的完整名称，也可以写为%class
            %L：行号，也可以写为%line
            %M：方法名
            %thread：线程名称
            %m或者%msg：日志具体的信息
            %n：换行
        -->
        <Property name="outputPattern" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %c[%L] %M %m%n"/>

        <!--指定日志的输出格式-->
        <!--"\"：以当前项目的为根目录。Windows下有时"\"会被解释为磁盘盘符所在根目录，则用".\"替换 -->
        <!--"/"：Linux下就是从根目录开始的路径，Windows下为项目所在磁盘盘符的根目录 -->
        <Property name="logDirectory" value=".\blog-consumer-logs"/>

        <!-- 日志文件的名字（可以根据业务进行命名） -->
        <Property name="logFileName" value="blog-consumer" />
    </Properties>

    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="output2Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${outputPattern}" charset="UTF-8"/>
        </Console>

        <!--输出到日志文件：滚动分割日志文件-->
        <!-- fileName：输出日志的位置；filePattern: 命名规则（把过时的日志按照此规则打包） -->
        <RollingFile name="output2File" fileName="${logDirectory}/${logFileName}.log"
                     filePattern="${logDirectory}/$${date:yyyy-MM}/${logFileName}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${outputPattern}"/>

            <!--Policies:触发策略决定何时执行备份-->
            <Policies>
                <!--在系统启动时，出发拆分规则，生产一个新的日志文件-->
                <OnStartupTriggeringPolicy />
                <!--默认一天一个文件-->
                <TimeBasedTriggeringPolicy/>
                <!--一天内大于size就单独分隔-->
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>

            <!--DefaultRolloverStrategy:翻转策略决定如何执行备份-->
            <!--max：在同一个目录下，文件的个数限定为 300 个，超过进行覆盖-->
            <!--compressionLevel:配置日志压缩级别，范围0-9，0不压缩，1压缩速度最快，9压缩率最好，目前只对于zip压缩文件类型有效-->
            <DefaultRolloverStrategy max="300" compressionLevel="1" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!--默认的Root Logger 级别-->
        <Root level="INFO">
            <!-- 输出到控制台 -->
            <AppenderRef ref="output2Console"/>
            <!-- 输出到文件 -->
            <AppenderRef ref="output2File"/>
        </Root>
    </Loggers>

</Configuration>
