<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackyle.blog.consumer.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.hackyle.blog.consumer.entity.CommentEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="targetId" column="target_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="replyWho" column="reply_who" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="released" column="is_released" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,target_id,name,
        email,link,ip,
        reply_who,content,parent_id,
        is_released,create_time,update_time,
        is_deleted
    </sql>

    <select id="selectByParentIds" resultMap="BaseResultMap">
        SELECT id, target_id, name, email, link, ip, reply_who, content, parent_id, is_released, create_time, update_time, is_deleted
        FROM tb_comment
        <where>
            parent_id in
            <!-- foreach标签：遍历集合 -->
            <!-- collection：指定要遍历的集合 -->
            <!-- item：临时保存当前遍历出的元素，类似于for(int i=0; i<10; i++)中的i -->
            <!-- separator：每个元素之间的分割符 -->
            <!-- open：遍历出的所有结果拼接一个开始字符 -->
            <!-- close：遍历出的所有结果拼接一个结束符 -->
            <foreach collection="parentIdList" item="parentId" separator=","
                     open="(" close=")" >
                <!-- #{i}: 取出元素 -->
                #{parentId}
            </foreach>
            AND is_deleted = 0 and is_released = 1
        </where>
    </select>

</mapper>
