<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackyle.blog.business.mapper.FileStorageMapper">

    <resultMap id="BaseResultMap" type="com.hackyle.blog.business.entity.FileStorageEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleUri" column="article_uri" jdbcType="VARCHAR"/>
            <result property="fileLink" column="file_link" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <insert id="batchInsertImg">
        INSERT INTO tb_file_storage(file_link) VALUES
        <foreach collection="imgList" item="img" separator=",">
            (#{img})
        </foreach>
    </insert>

    <insert id="batchInsert">
        INSERT INTO tb_file_storage(article_uri, file_link) VALUES
        <foreach collection="imgList" item="img" separator=",">
            (#{article_uri}, #{img})
        </foreach>
    </insert>

    <update id="updateArticleUriById">
        UPDATE tb_file_storage SET article_uri = #{article_uri} WHERE id in
        <foreach collection="idList" item="i" separator="," open="(" close=")" >
            #{i}
        </foreach>
    </update>

    <select id="selectByArticleUri" resultMap="BaseResultMap">
        SELECT id, article_uri, file_link, create_time, update_time, is_deleted
        FROM tb_file_storage WHERE article_uri = #{article_uri} AND is_deleted = 0
    </select>

    <select id="selectByArticleUriIsNull" resultMap="BaseResultMap">
        SELECT id, article_uri, file_link, create_time, update_time, is_deleted
        from tb_file_storage WHERE (article_uri IS NULL OR article_uri = '') AND is_deleted = 0
    </select>
</mapper>
