<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackyle.blog.business.mapper.ArticleAuthorMapper">

    <resultMap id="BaseResultMap" type="com.hackyle.blog.business.entity.ArticleAuthorEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,author_id,article_id,
        create_time,update_time,is_deleted
    </sql>

    <insert id="batchInsert">
        INSERT INTO tr_article_author(author_id, article_id) VALUES
        <foreach collection="authorIds" item="authorId" separator=",">
            (#{authorId}, #{articleId})
        </foreach>
    </insert>

    <delete id="batchDelByArticleIds">
        DELETE FROM tr_article_author
        <where>
            article_id IN
            <foreach collection="articleIds" item="id" separator=","
                     open="(" close=")" >
                <!-- #{i}: 取出元素 -->
                #{id}
            </foreach>
        </where>
    </delete>

    <delete id="batchDelByAuthorIds">
        DELETE FROM tr_article_author
        <where>
            author_id IN
            <foreach collection="authorIds" item="id" separator=","
                     open="(" close=")" >
                <!-- #{i}: 取出元素 -->
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="selectByArticleIds" resultType="com.hackyle.blog.business.po.ArticleAuthorPo">
        SELECT a.article_id as articleId,
               b.id authorId, b.nick_name nickName, b.real_name realName, b.description
        FROM tr_article_author a JOIN tb_author b ON b.id = a.author_id
        <where>
            a.article_id in
            <!-- foreach标签：遍历集合 -->
            <!-- collection：指定要遍历的集合 -->
            <!-- item：临时保存当前遍历出的元素，类似于for(int i=0; i<10; i++)中的i -->
            <!-- separator：每个元素之间的分割符 -->
            <!-- open：遍历出的所有结果拼接一个开始字符 -->
            <!-- close：遍历出的所有结果拼接一个结束符 -->
            <foreach collection="articleIds" item="id" separator="," open="(" close=")" >
                <!-- #{i}: 取出元素 -->
                #{id}
            </foreach>
            AND a.is_deleted = false
        </where>
    </select>

</mapper>
