<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackyle.blog.business.mapper.ArticleAccessMapper">

    <resultMap id="BaseResultMap" type="com.hackyle.blog.business.entity.ArticleAccessEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleUri" column="article_uri" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="timeUse" column="time_use" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_uri,ip,
        address,browser,time_use,
        create_time,is_deleted
    </sql>
</mapper>
