/*文章标题以及基础信息*/
.article-meta-container {
  margin-top: 100px;
  text-align: center;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*height: 50px;*/
  border: solid 2px magenta;
}

/*左边导航栏*/
.face aside {
  position: sticky;
  top: 100px;
  overflow: auto;
  padding-left: 15px;

  width: 200px;
  height: 400px;
  border: solid 1px deeppink;
}

/*文章正文*/
.face main {
  /*让文章正文和导航栏处于同一起始线*/
  /*margin-left稍大于导航栏的width；margi-top等于导航栏的height*/
  margin-left: 220px;
  margin-top: -400px;

  border: solid 2px darkblue;
}

