
.tag-container {
  margin-top: 100px;
  min-height: 600px;
  font-size: large;
}

/*搜索框样式*/
.tag-search {
  text-align: center;
  margin: 10px auto;
}
.tag-search input {
  outline: none;
  border: none;
  border-bottom: 2px solid #0ef81e;
  font-size: large;
}
.tag-search button {
  background-color: #f4350a;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

/*超链接样式控制*/
.tag-container a {
  /*color: #f80425;*/
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
/*.tag-container a.current, a:hover {*/
/*  color: #05f91d;*/
/*  font-weight: bold;*/
/*}*/

/*显示分类下的所有文章*/
.tag-article {
  margin-top: 80px;
  min-height: 400px;
}
