<!--
  头部导航栏
-->
<nav xmlns:th="http://www.thymeleaf.org">
  <div class="nav-container">
    <div class="logo"><a href="/">HACKYLE</a></div>
    <ul class="link-container">
      <li><a href="/">首页</a></li>
      <li><a href="/category">文章分类</a></li>
      <li><a href="/tag">文章标签</a></li>
      <li><a href="/about">关于</a></li>
      <li><a href="/feedback-message">反馈与留言</a></li>
    </ul>

    <!--Search Box-->
    <div class="search-box">
      <input type="text" class="search-input" placeholder="关键字之间用空格隔开" size="18" id="search" th:value="${queryKeywords == null ? '':queryKeywords}">
      <button type="button" class="search-btn" id="searchBtn">搜索</button>
    </div>
  </div>
</nav>
