<!--
  头部导航栏
-->
<nav>
  <div class="nav-container">
    <div class="logo"><a href="/">HACKYLE</a></div>
    <ul class="link-container">
      <li><a href="/">首页</a></li>
      <li><a href="/">文章分类</a></li>
      <li><a href="/">文章标签</a></li>
      <li><a href="/about">关于</a></li>
      <li><a href="/feedback-message">问题反馈</a></li>
    </ul>

    <!--Search Box-->
    <!--<div class="search-box">-->
    <!--  <input type="text" placeholder="输入关键字" id="search" name="search">-->
    <!--  <img src="img/search-btn.png" />-->
    <!--</div>-->
  </div>
</nav>
